.container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-top: 20px;
  flex-grow: 1;
  padding-left: 20px;
}

.productSubContainer {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
}

.subTitle {
  margin-bottom: 0;
}

.settingsList {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
}

.settingsLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-size: cover;
}

.changeLogo {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 6px 10px;
  transition: all 100ms ease-in-out;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-family: Menlo;
  font-size: 13px;
}
.changeLogo:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.form input {
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 16px;
  background-color: #212327;
  border: 1px solid rgba(108, 108, 108, 0.3);
  color: white;
  font-weight: 600;
  width: 100%;
  transition: all 100ms ease-in-out;
}

.form input:hover {
  border: 1px solid rgba(108, 108, 108, 0.6);
}

.form input:focus {
  border: 1px solid #a657f6;
  box-shadow: 0px 0px 20px rgba(167, 87, 246, 0.4);
}

.form input:focus-visible {
  outline: none;
}

.form input::placeholder {
  font-weight: 500;
}

.form button {
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  background-color: #a657f6;
  border: none;
  color: white;
  padding: 0 50px;
  transition: all 100ms ease-in-out;
  letter-spacing: 0.5px;
}

.form button:hover {
  box-shadow: 0px 0px 20px rgba(167, 87, 246, 0.4);
}

.dangerZone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}

.deleteButton {
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  border: none;
  color: white;
  padding: 0 20px;
  transition: all 100ms ease-in-out;
  letter-spacing: 0.5px;
  background-color: #f03d3d;
}
.deleteButton:hover {
  box-shadow: 0px 0px 20px rgba(240, 61, 61, 0.4);
}

.deletePopup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.deletePopupCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: black;
  border-radius: 20px;
  row-gap: 30px;
  font-weight: 900;
}

.choices {
  display: flex;
  column-gap: 10px;
}

.deleteProductButton {
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: white;
  padding: 0 20px;
  transition: all 100ms ease-in-out;
  background-color: black;
}

.notDeleteProductButton {
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 20px;
  transition: all 100ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.15);
}
