.container {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 12px;
  width: 500px;
}

.uploadedIconWrapper {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
}

.changeIconButton {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 6px 10px;
  transition: all 100ms ease-in-out;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-family: Menlo;
}
.changeIconButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.uploadedIcon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-size: cover;
}
/*
.form input {
  height: 50px;
  border-radius: 12px;
  padding-left: 20px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #fd429900;
  color: black;
  font-weight: 800;
  transition: all 150ms ease-in-out;
  font-family: Menlo;
  font-weight: 900;
}*/

.form input {
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 16px;
  background-color: #212327;
  border: 1px solid rgba(108, 108, 108, 0.3);
  color: white;
  font-weight: 600;
  width: 100%;
  transition: all 100ms ease-in-out;
}

.form input:hover {
  border: 1px solid rgba(108, 108, 108, 0.6);
}

.form input:focus {
  border: 1px solid #a657f6;
  box-shadow: 0px 0px 20px rgba(167, 87, 246, 0.4);
}

.form input:focus {
  border: 1px solid #a657f6;
}

.form input:focus-visible {
  outline: none;
}

.form input::placeholder {
  font-weight: 500;
}

.submitButton {
  height: 50px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #a657f6;
  color: white;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-weight: 900;
  font-family: Menlo;
}

.submitButton:hover {
  background-color: #a757f6c1;
}
/*
.iconUpload {
  height: 100px;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  border-radius: 12px;
  transition: all 100ms ease-in-out;
}*/
.iconUpload {
  height: 100px;
  padding: 20px;
  cursor: pointer;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  border-radius: 12px;
  transition: all 100ms ease-in-out;
}

.iconUpload:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
