.container {
  width: 100%;
  height: 100%;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.list {
  /*display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);*/
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  row-gap: 2%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.newProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  justify-content: center;
  /*height: 100%;*/
  width: 30%;
  background-color: #0f0f0f;
  padding: 30px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  min-height: 200px;
  margin-bottom: 2%;
  transition: all 100ms ease-in-out;
}

.newProductCard:hover {
  background-color: #171717;
}
